[Unit]
Description=Firewall

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=/etc/init.d/firewall start
ExecStop=/etc/init.d/firewall stop
ExecReload=/etc/init.d/firewall restart

[Install]
WantedBy=default.target
